.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.956543;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.901855;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.828125;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-0.008800px;}
.ls2{letter-spacing:-0.004400px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.004400px;}
.ls4{letter-spacing:0.008800px;}
.ls1{letter-spacing:4.998400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-5.442800px;}
._2{margin-left:-4.202000px;}
._6{margin-left:-2.622327px;}
._3{margin-left:-1.210000px;}
._4{width:1.210000px;}
._0{width:3.008000px;}
._5{width:5.336000px;}
.fc0{color:rgb(38,38,38);}
.fc1{color:rgb(196,89,17);}
.fc3{color:rgb(5,99,193);}
.fc4{color:rgb(33,33,33);}
.fc2{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs4{font-size:44.000000px;}
.fs6{font-size:46.668000px;}
.fs5{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs1{font-size:64.000000px;}
.fs0{font-size:112.000000px;}
.y0{bottom:0.000000px;}
.y20{bottom:6.437500px;}
.y29{bottom:6.525000px;}
.y30{bottom:6.583300px;}
.y6{bottom:7.000000px;}
.y4e{bottom:7.291700px;}
.y16{bottom:7.320800px;}
.y2d{bottom:8.480700px;}
.y25{bottom:9.509900px;}
.y1f{bottom:20.437500px;}
.y28{bottom:20.525000px;}
.y2f{bottom:20.583300px;}
.y2c{bottom:21.480700px;}
.y24{bottom:22.509900px;}
.y1b{bottom:23.539000px;}
.y49{bottom:28.291700px;}
.y12{bottom:28.320800px;}
.y1e{bottom:34.437500px;}
.y2b{bottom:34.480700px;}
.y27{bottom:34.525000px;}
.y2e{bottom:34.583300px;}
.y23{bottom:35.509900px;}
.y4d{bottom:36.291700px;}
.y1a{bottom:36.539000px;}
.y48{bottom:42.291700px;}
.y11{bottom:42.320800px;}
.y1d{bottom:48.437500px;}
.y22{bottom:48.509900px;}
.y26{bottom:48.525000px;}
.y1{bottom:49.000000px;}
.y19{bottom:49.539000px;}
.y3c{bottom:50.583330px;}
.y47{bottom:56.291700px;}
.y31{bottom:58.416670px;}
.y4b{bottom:62.291700px;}
.y1c{bottom:62.437500px;}
.y18{bottom:62.539000px;}
.y10{bottom:64.320800px;}
.y3b{bottom:64.583330px;}
.y4c{bottom:65.291700px;}
.y46{bottom:70.291700px;}
.yf{bottom:78.320800px;}
.y3a{bottom:78.583330px;}
.y45{bottom:84.291700px;}
.ye{bottom:92.320800px;}
.y39{bottom:92.583330px;}
.y44{bottom:98.291700px;}
.y14{bottom:106.320800px;}
.y38{bottom:106.583330px;}
.yd{bottom:114.320800px;}
.y43{bottom:120.291700px;}
.y13{bottom:120.320800px;}
.y37{bottom:120.583330px;}
.y34{bottom:122.422330px;}
.yc{bottom:128.320800px;}
.y42{bottom:134.291700px;}
.y36{bottom:134.583330px;}
.y33{bottom:135.422330px;}
.yb{bottom:142.320800px;}
.y41{bottom:148.291700px;}
.y32{bottom:148.422330px;}
.y35{bottom:148.583330px;}
.y3f{bottom:149.714100px;}
.y40{bottom:162.291700px;}
.y3e{bottom:162.714100px;}
.ya{bottom:164.320800px;}
.y9{bottom:178.320800px;}
.y8{bottom:192.320800px;}
.y2a{bottom:222.416700px;}
.y21{bottom:272.475000px;}
.y17{bottom:336.562500px;}
.y15{bottom:414.679200px;}
.y7{bottom:443.679200px;}
.y4a{bottom:493.708300px;}
.y3d{bottom:577.708300px;}
.y4{bottom:632.000000px;}
.y3{bottom:651.000000px;}
.y5{bottom:652.000000px;}
.y2{bottom:679.000000px;}
.h5{height:25.000000px;}
.h4{height:27.070312px;}
.h12{height:32.403270px;}
.h8{height:33.000000px;}
.h9{height:33.085938px;}
.ha{height:36.000000px;}
.h6{height:41.917969px;}
.hb{height:42.109375px;}
.h3{height:48.125000px;}
.he{height:49.058330px;}
.hd{height:63.087500px;}
.hc{height:77.116670px;}
.h11{height:80.000000px;}
.h2{height:84.218750px;}
.hf{height:163.000000px;}
.h10{height:177.291700px;}
.h7{height:207.320800px;}
.h1{height:715.582500px;}
.h0{height:792.000000px;}
.w2{width:253.878000px;}
.w4{width:257.220900px;}
.w6{width:257.221800px;}
.w5{width:262.361400px;}
.w7{width:262.362300px;}
.w3{width:266.005500px;}
.w1{width:557.165000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x4{left:4.000000px;}
.x2{left:8.582520px;}
.x15{left:12.361400px;}
.x1{left:27.417480px;}
.x9{left:30.841520px;}
.x3{left:37.000000px;}
.x10{left:99.016800px;}
.xb{left:105.381600px;}
.x7{left:113.953800px;}
.x14{left:134.423100px;}
.x11{left:135.749700px;}
.xe{left:142.345400px;}
.xc{left:174.910400px;}
.x6{left:185.905000px;}
.xd{left:192.860600px;}
.x12{left:194.708200px;}
.x8{left:197.753600px;}
.x13{left:222.197500px;}
.xf{left:228.836200px;}
.x5{left:308.996300px;}
.xa{left:312.638600px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls5{letter-spacing:-0.011733pt;}
.ls2{letter-spacing:-0.005867pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.005867pt;}
.ls4{letter-spacing:0.011733pt;}
.ls1{letter-spacing:6.664533pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-7.257067pt;}
._2{margin-left:-5.602667pt;}
._6{margin-left:-3.496436pt;}
._3{margin-left:-1.613333pt;}
._4{width:1.613333pt;}
._0{width:4.010667pt;}
._5{width:7.114667pt;}
.fs2{font-size:48.000000pt;}
.fs4{font-size:58.666667pt;}
.fs6{font-size:62.224000pt;}
.fs5{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs1{font-size:85.333333pt;}
.fs0{font-size:149.333333pt;}
.y0{bottom:0.000000pt;}
.y20{bottom:8.583333pt;}
.y29{bottom:8.700000pt;}
.y30{bottom:8.777733pt;}
.y6{bottom:9.333333pt;}
.y4e{bottom:9.722267pt;}
.y16{bottom:9.761067pt;}
.y2d{bottom:11.307600pt;}
.y25{bottom:12.679867pt;}
.y1f{bottom:27.250000pt;}
.y28{bottom:27.366667pt;}
.y2f{bottom:27.444400pt;}
.y2c{bottom:28.640933pt;}
.y24{bottom:30.013200pt;}
.y1b{bottom:31.385333pt;}
.y49{bottom:37.722267pt;}
.y12{bottom:37.761067pt;}
.y1e{bottom:45.916667pt;}
.y2b{bottom:45.974267pt;}
.y27{bottom:46.033333pt;}
.y2e{bottom:46.111067pt;}
.y23{bottom:47.346533pt;}
.y4d{bottom:48.388933pt;}
.y1a{bottom:48.718667pt;}
.y48{bottom:56.388933pt;}
.y11{bottom:56.427733pt;}
.y1d{bottom:64.583333pt;}
.y22{bottom:64.679867pt;}
.y26{bottom:64.700000pt;}
.y1{bottom:65.333333pt;}
.y19{bottom:66.052000pt;}
.y3c{bottom:67.444440pt;}
.y47{bottom:75.055600pt;}
.y31{bottom:77.888893pt;}
.y4b{bottom:83.055600pt;}
.y1c{bottom:83.250000pt;}
.y18{bottom:83.385333pt;}
.y10{bottom:85.761067pt;}
.y3b{bottom:86.111107pt;}
.y4c{bottom:87.055600pt;}
.y46{bottom:93.722267pt;}
.yf{bottom:104.427733pt;}
.y3a{bottom:104.777773pt;}
.y45{bottom:112.388933pt;}
.ye{bottom:123.094400pt;}
.y39{bottom:123.444440pt;}
.y44{bottom:131.055600pt;}
.y14{bottom:141.761067pt;}
.y38{bottom:142.111107pt;}
.yd{bottom:152.427733pt;}
.y43{bottom:160.388933pt;}
.y13{bottom:160.427733pt;}
.y37{bottom:160.777773pt;}
.y34{bottom:163.229773pt;}
.yc{bottom:171.094400pt;}
.y42{bottom:179.055600pt;}
.y36{bottom:179.444440pt;}
.y33{bottom:180.563107pt;}
.yb{bottom:189.761067pt;}
.y41{bottom:197.722267pt;}
.y32{bottom:197.896440pt;}
.y35{bottom:198.111107pt;}
.y3f{bottom:199.618800pt;}
.y40{bottom:216.388933pt;}
.y3e{bottom:216.952133pt;}
.ya{bottom:219.094400pt;}
.y9{bottom:237.761067pt;}
.y8{bottom:256.427733pt;}
.y2a{bottom:296.555600pt;}
.y21{bottom:363.300000pt;}
.y17{bottom:448.750000pt;}
.y15{bottom:552.905600pt;}
.y7{bottom:591.572267pt;}
.y4a{bottom:658.277733pt;}
.y3d{bottom:770.277733pt;}
.y4{bottom:842.666667pt;}
.y3{bottom:868.000000pt;}
.y5{bottom:869.333333pt;}
.y2{bottom:905.333333pt;}
.h5{height:33.333333pt;}
.h4{height:36.093750pt;}
.h12{height:43.204359pt;}
.h8{height:44.000000pt;}
.h9{height:44.114583pt;}
.ha{height:48.000000pt;}
.h6{height:55.890625pt;}
.hb{height:56.145833pt;}
.h3{height:64.166667pt;}
.he{height:65.411107pt;}
.hd{height:84.116667pt;}
.hc{height:102.822227pt;}
.h11{height:106.666667pt;}
.h2{height:112.291667pt;}
.hf{height:217.333333pt;}
.h10{height:236.388933pt;}
.h7{height:276.427733pt;}
.h1{height:954.110000pt;}
.h0{height:1056.000000pt;}
.w2{width:338.504000pt;}
.w4{width:342.961200pt;}
.w6{width:342.962400pt;}
.w5{width:349.815200pt;}
.w7{width:349.816400pt;}
.w3{width:354.674000pt;}
.w1{width:742.886667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:5.333333pt;}
.x2{left:11.443360pt;}
.x15{left:16.481867pt;}
.x1{left:36.556640pt;}
.x9{left:41.122027pt;}
.x3{left:49.333333pt;}
.x10{left:132.022400pt;}
.xb{left:140.508800pt;}
.x7{left:151.938400pt;}
.x14{left:179.230800pt;}
.x11{left:180.999600pt;}
.xe{left:189.793867pt;}
.xc{left:233.213867pt;}
.x6{left:247.873333pt;}
.xd{left:257.147467pt;}
.x12{left:259.610933pt;}
.x8{left:263.671467pt;}
.x13{left:296.263333pt;}
.xf{left:305.114933pt;}
.x5{left:411.995067pt;}
.xa{left:416.851467pt;}
}
